<div class="first-elem">
  <div class="top">
    Discussion & Conclusions
  </div>

  <div class="content">
    <ul>
      <li>Different dynamics preferential attachment</li>
      <li>Appears to be a power law</li>
      <li>ANOVA</li>
      <ul>
        <li>No significant differences</li>
      </ul>
      <li>Preferential attachment</li>
      <ul>
        <li>Still powerlaw?</li>
        <li>Still SOC?</li>
      </ul>
    </ul>
  </div>

  <br>

  <footer>
    <p class="footer">
      Developed for the Complex System Simulation <a href="http://coursecatalogue.uva.nl/xmlpages/page/2017-2018-en/search-course/course/31067">course</a> in the Master Computational Science, University of Amsterdam, June 2019
      <br>
      Mathijs Maijer, Esra Solak, Koen Greuell, Linda Wouters, Natasja Wezel
    </p>
  </footer>

</div>
