<div class="first-elem">
  <div class="top">
    Discussion
  </div>
  <div class="content">
    <ul>
      <li>Power laws?</li>
      <li>Real model? Does it matter? It's simple but captures the behavior?</li>
    </ul>



  </div>

  <footer>
    <p class="footer">
      Developed for the Complex System Simulation <a href="http://coursecatalogue.uva.nl/xmlpages/page/2017-2018-en/search-course/course/31067">course</a> in the Master Computational Science, University of Amsterdam, June 2019
      <br>
      Mathijs Maijer, Esra Solak, Koen Greuell, Linda Wouters, Natasja Wezel
    </p>
  </footer>

</div>
