<div class="first-elem">
  <div class="header-simulation">
    Simulation conditions
  </div>

  <div class="simulation-container">
    <div class="img-container left-container">
      <img class="left" src="../../assets/simu.png">
    </div>
    <div class="content">
        <ol class="theory-list">
          <li>Original model</li>
          <li>Without subclasses</li>
          <li>No method can call another method multiple times and no recursion</li>
          <li>Updating method can delete statements</li>
          <li>Different preferential attachment conditions</li>

          <ul>
            <li>Caller picked randomly</li>
            <li>Callee picked randomly</li>
            <li>Both caller and callee picked </li>
          </ul>
        </ol>
    </div>
    
  </div>
</div>
