.first-elem {
    flex-direction: column !important;
    height: auto !important;
}

.title {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}
.sub-title {
    margin-top: 5%;
    font-size: 1.5rem;
    margin-bottom: 1%;
    margin-left: auto; 
    margin-right: auto;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    align-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.res{
    max-width: 70%;
    max-height: 80%;
    margin-left: auto; 
    margin-right: auto; 
}