<div class="first-elem">
  <div class="top">
    Introduce theory
  </div>
  <div class="content">
    <div class="col left-col">
      <div class="item">
        Inspiration from: "Self organized criticality in code repositories"
        Uitleg change size (maximale absolute waarde add/removed aantal lines)
      </div>
      <div class="item">
        Vergelijken model met resultaten van echte data (eerste paper)
      </div>
      <div>
        Other paper: "Why power laws?" Introduces a model to simulate the evolution of a code repository
      </div>
    </div>
    <div class="col right-col">
      <div class="item">
      </div>
      <div class="item">
        Hey
      </div>
    </div>
  </div>
</div>
