<div class="first-elem">
  <div class="top">
    Theory
  </div>
  <br>
  <br>
  <div class="content">
    <ul class="theory_list">
      <li><a href="https://www.researchgate.net/publication/319641700_Self-organized_criticality_in_code_repositories">Merelo et al. (2017)</a>: Self-organized criticality in code repositories</li>
          <ul>
            <li>Data collection 16 repositories</li>
            <li>Change size: absolute maximum number of additions/deletions</li>
          </ul>
        <br>
      <li><a href="https://ieeexplore.ieee.org/document/7180068">Lin & Whitehead (2015)</a>: Why power laws?</li>
        <ul>
          <li>Model to simulate evolution of code repository</li>
          <li>Start with simple piece of Java code</li>
          <li>Add, delete, update or call methods</li>
          <li>Method fitness</li>
          <li>Preferential attachment</li>
        </ul>
        <br>
     <li>Our model</li>
     <ul>
       <li>Simplify the model</li>
       <li>Make it more realistic</li>
       <li>Try different conditions</li>
     </ul>
    </ul>
  </div>
</div>
